<!-- Add HTML tags here to be included in the head -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5696433627232046"
     crossorigin="anonymous"></script>

<script src="/assets/js/sidebar-folder.js"></script>

<link rel="stylesheet" href="https://unpkg.com/swiper@11.2.10/swiper-bundle.min.css" integrity="sha384-gAPqlBuTCdtVcYt9ocMOYWrnBZ4XSL6q+4eXqwNycOr4iFczhNKtnYhF3NEXJM51" crossorigin="anonymous">
<script src="https://unpkg.com/swiper@11.2.10/swiper-bundle.min.js" integrity="sha384-2UI1PfnXFjVMQ7/ZDEF70CR943oH3v6uZrFQGGqJYlvhh4g6z6uVktxYbOlAczav" crossorigin="anonymous"></script>

<script src="/assets/js/swiper-control.js"></script>

<!-- for my toc affix -->
<script type="module">
  (function() {
    var pushState = document.querySelector('hy-push-state');
    if (!pushState) return;

    pushState.addEventListener('load', function() {
      var tocElement = document.getElementById("markdown-toc");
      if (!tocElement) return;

      var affixedDiv = document.createElement("div");
      affixedDiv.style.position = "relative";
      affixedDiv.style.top = "-1rem";
      tocElement.parentNode.insertBefore(affixedDiv, tocElement);

      var headerList = document.getElementsByClassName("permalink");
      if (!headerList || headerList.length === 0) return;

      var prevElement;
      var ticking = false;
      window.addEventListener("scroll", function() {
        if (ticking) return;
        ticking = true;
        requestAnimationFrame(function() {
          var hurdleTop = affixedDiv.getBoundingClientRect().top;
          if (hurdleTop <= 0) tocElement.classList.add("affix");
          else tocElement.classList.remove("affix");

          for (var i = 0; i < headerList.length; i++) {
            if (headerList[i].getBoundingClientRect().top >= 0) {
              if (prevElement) prevElement.style.removeProperty("font-weight");
              var tocId = "markdown-toc-" + headerList[i].parentNode.id;
              var tocItem = document.getElementById(tocId);
              if (tocItem) {
                prevElement = tocItem;
                prevElement.style.fontWeight = "bold";
              }
              break;
            }
          }
          ticking = false;
        });
      });
    });
  })();
</script>
