.sidebar nav ul ul {
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  z-index: 1000;
}

.sidebar,
.sidebar nav,
.sidebar nav ul {
  overflow: visible;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
}

